<strong>ING iDeal Basic</strong>

<label>Merchant ID</label>
<input type="text" name="ideal[merchant_id]" value="<%= esc(this.settings_object.merchant_id) %>" />

<label>Merchant Sub ID</label>
<input type="text" name="ideal[merchant_sub_id]" value="<%= esc(this.settings_object.merchant_sub_id) %>" />

<label>Security key</label>
<input type="text" name="ideal[security_key]" value="<%= esc(this.settings_object.security_key) %>" />

<label>Description</label>
<input type="text" name="ideal[description]" value="<%= esc(this.settings_object.description) %>" />

<label>
  <input type="checkbox" name="ideal[is_test_mode]" value="1" <%= this.is_test_mode !== false ? 'checked="checked"' : '' %> />
  Test mode
</label>